html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: rgb(204, 219, 192);
    font-family: "Trebuchet MS", sans-serif;
}

header {
    margin-top: 40px;
    margin-bottom: 70px;

}

header h1 {
    font-family: "Luminari", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

main {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*GAMESCREEN CONTENT*/

#game-screen {
    background-image: url("./images/grass_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 2px;
    border-radius: 5px;
    min-width: 550px;
    min-height: 550px;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    image-rendering: pixelated;
}

.game-infos {
    position: absolute;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: white 0px 0px 15px;
}

#level {
    top: 5px;
    left: 5px;
}

#health {
    top: 5px;
    left: 120px;
}

#score {
    right: 5px;
    bottom: 5px;
}

#player {
    position: absolute;
    display: none;
    overflow: hidden;
}

/*CHARACTER MOVEMENT*/
@keyframes character-right {
    from{
        transform : translate3d(-48px, -40px, 0)
    }
    to {
        transform: translate3d(-79.5%, -40px, 0);
    }
}
@keyframes character-left {
    from{
        transform : translate3d(325px, -40px, 0)
    }
    to {
        transform: translate3d(104.5%, -40px, 0);
    }
}

@keyframes moveCharacterRight {
    from{
        transform : translate3d(-48px, -310px, 0);
    }
    to {
        transform: translate3d(-79.5%, -310px, 0);
    }
}

@keyframes moveCharacterLeft {
    from{
        transform : translate3d(325px, -310px, 0);
    }
    to {
        transform: translate3d(104.5%, -310px, 0);
    }
}

#player img {
    width:1100px;
    left : 1000px;
}

.test{
    
    width: 40px;
    height: 60px;
    overflow: hidden;
    
}
.test img{
    width:1100px;
    left :1000px;
}

.character-not-moving-right{
    animation : character-right 0.5s steps(6) infinite
}
.character-not-moving-left{
    scale: -1 1;
    animation : character-left 0.5s steps(6) infinite
}
.character-move-left{
    scale: -1 1;
    animation : moveCharacterLeft 0.5s steps(6) infinite
}
.character-move-right{
    animation : moveCharacterRight 0.5s steps(6) infinite
}

/*PROJECTILE AND ENNEMY*/
.projectile{
    background-color: rgb(0, 0, 0);
    top : -10px;
    left : -10px;
}

.ennemy{
    top : -10px;
    left : -10px;
    overflow: hidden;
}
.ennemy img{
    width: 400px;
}

.ennemyMoveLeft{
    scale: -1 1;
    animation : moveEnnemyLeft 1s steps(5) infinite
}

.ennemyMoveRight{
    animation : moveEnnemyRight 1s steps(5) infinite
}

@keyframes moveEnnemyRight {
    from{
        transform : translate3d(-22px, -105px, 0)
    }
    to {
        transform: translate3d(-105%, -105px, 0);
    }
}

@keyframes moveEnnemyLeft {
    from{
        transform : translate3d(21px, -105px, 0);
    }
    to {
        transform: translate3d(105%, -105px, 0);
    }
}




/* START SCREEN */
#start-screen {
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button {
    display: block;
    color: rgb(119, 42, 42);
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 250px;
    height: 100px;
    background-color: rgb(242, 245, 239, 1);
    border-radius: 10px;
    border: solid 2px black;
    padding-bottom: 5px;
    padding-right: 5px;
    box-shadow: inset -10px -10px grey;
    font-family: "Trebuchet MS", sans-serif;

}

#start-button:focus {
    background-color: rgb(179, 185, 174);
    box-shadow: inset 10px 10px rgb(61, 61, 61);
    padding: 5px 0 0 5px;
}


/* END GAME SCREEN */
#end-screen {
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    align-items: center;
    font-size: 2.3rem;
    font-weight: bold;
    color: rgb(250, 250, 250);
    display: none;
    padding: 200px 0 200px 0;
}

.score-screen{
    margin-top: 50px;
}

#restart-button {
    display: block;
    color: rgb(119, 42, 42);
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 100px;
    width: 250px;
    height: 100px;
    background-color: rgb(242, 245, 239, 1);
    border-radius: 10px;
    border: solid 2px black;
    padding-bottom: 5px;
    padding-right: 5px;
    box-shadow: inset -10px -10px grey;
    font-family: "Trebuchet MS", sans-serif;

}

#restart-button:focus {
    background-color: rgb(179, 185, 174);
    box-shadow: inset 10px 10px rgb(61, 61, 61);
    padding: 5px 0 0 5px;
}




/*ASIDES*/

.instructions {
    font-size: 2rem;
    width: 400px;
}

.keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions .how-to-play {
    margin-bottom: 30px;
    text-align: center;
}


.three-arrows {
    display: flex;
}

.key {
    background-color: rgba(255, 255, 255, 0.743);
    border-radius: 10px;
    border: solid 2px black;
    height: 50px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 15px 10px;
    box-shadow: inset -10px -10px grey;
}

.key:hover {
    background-color: rgba(185, 185, 185, 0.466);
    box-shadow: inset 10px 10px rgb(61, 61, 61);
    padding: 15px 10px 5px 20px;
}

.arrow {
    width: 40px;
    margin: 4px 2px;
}

.space {
    width: 230px;
    margin-top: 7px;
}

.rules {
    width: 400px;
    margin : 0 10px;
    font-size: 2rem;
    /* background-color: green; */
}

footer {
    background-color: aqua;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.audio{
    position: relative;
}
.play-song{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 21px;
    left: 20px;
    background-color: red;

}

@media (max-width: 1280px) {

    .instructions{
        width: 50%;
    }

    header{
        height: 10vh;
    }

    main {
        flex-direction: column-reverse;
        height: 80vh;
        row-gap: 10px;
    }


}